<%- layout("/layouts/boilerplate.ejs") %>

    <div class="row mt-3">
        <div class="col-8 offset-2 ">
            
            <h3>Create a new listing</h3>
            <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input id="title" type="text" name="listing[title]" placeholder="Add a cachy title" class="form-control" required >
                    <div class="valid-feedback">Title looks good</div>
                </div>
                
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" type="text" name="listing[description]" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please write a short description</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input id="image" type="file" name="listing[image]" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select name="listing[category]" id="category" class="form-control">
                        <option value="amazing pools">Amazing pools</option>
                        <option value="arctic">Arctic</option>
                        <option value="farms">Farms</option>
                        <option value="castles">Castles</option>
                        <option value="trending">Trending</option>
                        <option value="rooms">Rooms</option>
                        <option value="iconic cities">Iconic cities</option>
                        <option value="mountains">Mountains</option>
                        <option value="camping">Camping</option>
                        <option value="domes">Domes</option>
                        <option value="boats">Boats</option>
                    </select>
                </div>
                
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input id="price" name="listing[price]" placeholder="1200" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input id="country" type="text" name="listing[country]" placeholder="India" class="form-control" required>
                        <div class="invalid-feedback">Country should be valid</div>
                    </div>
                </div>
                
                
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input id="location" type="text" name="listing[location]" placeholder="Jaipur, Rajasthan" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                
                
                <button class="btn btn-dark add-btn mt-3 mb-4">Add</button>
            </form>
        </div>
    </div>

